recovery:
  procedures:
    service_failure:
      steps:
        - stop_service
        - backup_current_state
        - restore_last_working
        - start_service
        - verify_health
        
    data_corruption:
      steps:
        - identify_corruption
        - stop_affected_services
        - restore_from_backup
        - validate_data
        - resume_services
        
    config_issues:
      steps:
        - validate_current_config
        - rollback_if_invalid
        - apply_fixes
        - test_configuration
        
  automation:
    enabled: true
    max_attempts: 3
    wait_between_attempts: 30s
    
  notification:
    channels:
      - email
      - slack
    escalation_levels:
      - operator
      - admin
      - emergency
